@model AlcidesMontadora.Models.Peca

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Peca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataFabricacao" class="control-label"></label>
                <input asp-for="DataFabricacao" class="form-control" />
                <span asp-validation-for="DataFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroSerie" class="control-label"></label>
                <input asp-for="NumeroSerie" class="form-control" />
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="PecaId" class="control-label"></label>
                <input asp-for="PecaId" class="form-control"  disabled/>
                <span asp-validation-for="PecaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
