@model Biblioteca.Models.Funcionario
@{
	ViewData["Title"] = "Novo";
}

<h2>Novo</h2>
<form method="post" >
	<label for="Nome">Nome:</label><br />
	<input type="text" name="Nome"  /><br />
	<label for="Cpf">CPF:</label><br />
	<input type="text" name="Cpf" /><br />
	<label for="Cargo">Cargo:</label><br />
	<input type="text" name="Cargo"  /><br />
	<label for="DataAdmissao">Data da Admissão:</label><br />
	<input type="date" name="DataAdmissao" /><br />
	<label for="Matricula">Matricula:</label><br />
	<input type="number" name="Matricula" /><br />
	<label for="Pis">Pis:</label><br />
	<input type="text" name="Pis" /><br />
	<label for="Salario">Salario:</label><br />
	<input type="number" name="Salario"  /><br />

	<a href="/Funcionario/listar" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove"> Cancelar</span></a>
	&nbsp;
	<input type="submit" value="Enviar" class="btn btn-success btn-lg" />
</form>