@model Biblioteca.Models.Aluno
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>
<form method="post" class="form-group">
    <label for="Nome">Nome:</label><br />
    <input type="text" name="Nome" /><br />
    <label for="Cpf">CPF:</label><br />
    <input type="text" name="Cpf" /><br />
    <label for="Rg">RG:</label><br />
    <input type="text" name="Rg" /><br />
    <label for="DataNascimento">Data da Nascimento:</label><br />
    <input type="date" name="DataNascimento" /><br />
    <label for="Cidade">Cidade:</label><br />
    <input type="text" name="Cidade" /><br />
    <label for="Numero">Numero:</label><br />
    <input type="tel" name="Numero" class="form-control" /><br />
    <label for="OrgaoExpedidor">Orgao Expedidor:</label><br />
    <input type="text" name="OrgaoExpedidor" /><br />
    <label for="Rua">Rua:</label><br />
    <input type="text" name="Rua" /><br />
    <label for="Uf">Uf:</label><br />
    <input type="text" name="Uf" /><br />

    <label>Sexo:</label>
    <div class="row">
        <div class="col-md-offset-4">
            <div class="col-md-7">
                <input type="radio" name="Sexo" id="mascu" class="radio radio-inline" value="Masculino" checked />
                <label for="mascu">Masculino </label>&nbsp;
                <input type="radio" id="femini" name="Sexo" class="radio radio-inline" value="Feminino" />
                <label for="femini">Feminino </label>&nbsp;
                <input type="radio" id="outro" name="Sexo" class="radio radio-inline" value="Outros" />
                <label for="outro">Outros </label>
            </div>
        </div>
    </div>
    <br />


    <a href="/aluno/listar" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove"> Cancelar</span></a>
    &nbsp;
    <input type="submit" value="Enviar" class="btn btn-success btn-lg" />
</form>



