@model Biblioteca.Models.Livro
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>
<form action="" method="post">
    <label>Titulo</label><br />
    <input type="text" name="Titulo" /><br />
    <label>Autor</label><br />
    <input type="text" name="Autor" /><br />
    <label>Editora</label><br />
    <input type="text" name="Editora" /><br />
    <label>Data da Publicação</label><br />
    <input type="date" name="DtPublicacao" /><br />
    <input type="submit" name="name" value="Enviar" />
</form>


